[Unit]
Description=Sync Portage + eix-update + cache de updates pendentes
OnFailure=notify-failure@%N.service

[Service]
Type=oneshot
CacheDirectory=portage-update-checker
ExecStart=/usr/local/bin/portage-sync-and-cache.sh
