[Unit]
Description=GNOME Keyring Daemon
PartOf=graphical-session.target
Requires=niri-gnome-keyring-daemon.socket

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --foreground --components=pkcs11,secrets --control-directory=%t/keyring
Restart=on-failure
RestartSec=5

[Install]
Also=niri-gnome-keyring-daemon.socket
