[Unit]
Description=Auto-suspend após inatividade (X11) via xidlehook
PartOf=awesomewm-session.target
After=awesomewm-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/xidlehook --not-when-fullscreen --timer 3600 "systemctl suspend" ""
Restart=on-failure
RestartSec=2

[Install]
WantedBy=awesomewm-session.target
