[Unit]
Description=jKyon Smart Cleanup (Remove old cache/trash files)
OnFailure=notify-failure@%N.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/smart-cache-cleanup.sh --delete
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
CPUWeight=20
IOWeight=20
Nice=19

[Install]
WantedBy=default.target
