[Unit]
Description=Atualiza lista de mirrors do Portage (mirrorselect)
OnFailure=notify-failure@%N.service
OnSuccess=suspend-after-mirrorselect.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mirrorselect-update.sh
