[Unit]
Description=Suspende o sistema apos mirrorselect bem-sucedido
OnFailure=notify-failure@%N.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl suspend
